<h3>Cart contents</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" autocomplete="off">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>Article</td>
        <td>Quantity</td>
        <td>Size</td>
        <td>Type</td>
        <td>Price</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr class="cart-item" *ngFor="let item of items; index as cartItem">
        <td>{{ item.name }}</td>
        <td><input type="text"value="1" id="quantity_{{ item.name }}"></td>
        <td>
          <select formControlName="name">
            <option>Select size</option>
            <option *ngFor="let size of sizes">{{size}}</option>
          </select>
        </td>
        <td>
          <select formControlName="name">
            <option>Choose type</option>
            <option *ngFor="let suit of oppoSuits">{{suit}}</option>
          </select>
        </td>
        <td>{{ item.price * 2 }}</td>
        <td><button type="button" class="btn btn-danger" (click)="onRemove(cartItem)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" (click)="onSubmit(checkoutForm)">Purchase</button>
</form>


