<h1>Categories</h1>

<p *ngIf="!categories"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="categories">
  <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Product Categories</th>
      <!--<th>Parent Category ID</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; index as cateogryId">
      <!--<td>{{ category.id }}</td>-->
      <td>
        <a [title]="category.categoryName + ' details'" [routerLink]="['/products',cateogryId]">
          {{ category.categoryName }}
        </a>
      </td>
      <!--<td>{{ category.parentCategoryId }}</td>-->
    </tr>
    </tbody>
  </table>
