<html>
<body width="100%" 	height ="100%" bgcolor="#ff0000">
  <h1>Tahidul and Subhashinis webshop application</h1>
  <h3>Where your purchasing dreams come true...</h3>
  <table>
    <tr>
      <td>

      <a href="./categories"><img src="assets/Images/shopping.jpeg" style="width: 1200px;" /></a>  

      </td>
    </tr>
    <tr>

      <td>
        <img src="assets/Images/men.bmp" style="width: 400px;" />
        <img src="assets/Images/women.bmp" style="width: 400px;" />
        <img src="assets/Images/kids.bmp" style="width: 400px;" />
      </td>

    </tr>

  </table>
</body>
</html>

