<html>
<body width="100%" 	height ="100%" bgcolor="#ff0000">
  <h1>Tahidul and Subhashinis webshop application</h1>
  <p>Where your purchasing dreams come true...</p>
  <table>
    <tr>
      <td>

        <img src="assets/Images/shopping.jpeg" style="width: 1200px; height: 350px;" />

      </td>
    </tr>
    <tr>

      <td>
        <img src="assets/Images/men.bmp" style="width: 400px; height: 200px;" />
        <img src="assets/Images/women.bmp" style="width: 400px; height: 200px;" />
        <img src="assets/Images/kids.bmp" style="width: 400px; height: 200px;" />
      </td>

    </tr>

  </table>
</body>
</html>

