<h2>Product Details</h2>


<div *ngIf="product">
  <table>
  <tr>
    <td>
      <h3>Product: {{ product.name }}</h3>
      <h3>Id: {{ product.id }}</h3>
      <h3>Price: {{ product.price }}</h3>
      <h3>Description: {{ product.description }}</h3>
    </td>
    <td>
      <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="Armani">
      
    </td>
</tr>
  <tr>
    <td>
      <button (click)="addToCart(product)">Add To Cart</button>
    </td>
  </tr>
</table>
</div>
