
<div *ngIf="product">
  <table>
    <tr>
      <td>
        <div style="display: flex; justify-content: right;">
          <img src="assets/Images/{{ product.image }}" style="width: 500px; height: 400px;" />
        </div>
      </td>
      <td>
        <h3>Product: {{ product.name }}</h3>
        <h4>Price: {{ product.price }}</h4>
        <h5>Description: {{ product.description }}</h5>
        <p>
          <select formControlName="name">
            <option>Choose color</option>
            <option *ngFor="let color of colors">{{color}}</option>
          </select>
        </p>
        <p>
          <select formControlName="name">
            <option>Choose size</option>
            <option *ngFor="let size of sizes">{{size}}</option>
          </select>
        </p>
        <button type="button" class="btn btn-success" (click)="addToCart(product)">Add To Cart</button>
      </td>
    </tr>
</table>
</div>
